# Python basic code constructs

In [1]:
import math

In [2]:
# When whole module is imported, to call the function
# you say module.function()

print(math.sqrt(5))

2.23606797749979

In [3]:
math.sqrt(5)

2.23606797749979

In [4]:
from math import factorial
factorial(5)

120

#### Python Data Types

In [5]:
type(5)

int

In [6]:
type(2.5)

float

In [7]:
type('BITS Pilani')

str

In [8]:
x = True
type(x)

bool

In [9]:
type(False)

bool

#### Type Conversions

In [10]:
x = 1.8
int(x)

1

In [11]:
# import math
print(math.ceil(1.2))

2

In [12]:
int(True)

1

In [13]:
int(False)

0

In [14]:
print(3-True)

2

#### Variables

In [15]:
# camelCase notation
# rate_of_interest
# rateOfInterest

firstName = "Rama"
firstName

'Rama'

In [16]:
type(firstName)

str

In [20]:
x = 5
print(x)
print(type(x))

5
<class 'int'>

In [21]:
y = 1.45
type(y)

float

In [23]:
z = x + y
print(z)
print(type(z))

6.45
<class 'float'>

In [24]:
a = 5
b = 2
c = a * b
print(type(c))

<class 'int'>

In [25]:
# Floating point division - using single slash
c = a/b
print(c)
print(type(c))

2.5
<class 'float'>

In [26]:
# Integer division = using double slash
c = a//b
print(c)
print(type(c))

2
<class 'int'>

In [27]:
x = 5
print(x)
print(id(x))

5
1597878624

In [28]:
print(id(x))

1597878624

In [29]:
x = 10
print(x)
print(id(x))

10
1597878784

In [31]:
x = 5
print(x)
print(id(x))

x = 10
print(x)
print(id(x))

x = 5
print(x)
print(id(x))

y = 5
print(y)
print(id(y))

5
1597878624
10
1597878784
5
1597878624
5
1597878624